<div>
  <div class="header" :class="[ $i18n.locale == 'en' ? 'header' : 'header__ar']" v-if="screenWidth > 700">
    <div class="tabs">
      <a href="#">{{$t('HOW_IT_WOEK')}}</a>
      <a href="#">{{$t('ABOUT')}}</a>
      <a href="#">{{$t('CONTACT')}}</a>
    </div>

    <div class="logo">
      <img src="../../../assets/images/logo.png" />
    </div>

    <div class="lang">
      <LangToggel />
    </div>
  </div>

  <div :class="[ $i18n.locale == 'en' ? 'header__res' : 'header__res__ar']" v-if="screenWidth < 700">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div class="lang">
        <LangToggel />
      </div>

      <div class="logo">
        <img src="../../../assets/images/logo.png" />
      </div>
    </div>
    <div class="tabs__res">
      <a href="#">{{$t('HOW_IT_WOEK')}}</a>
      <a href="#">{{$t('ABOUT')}}</a>
      <a href="#">{{$t('CONTACT')}}</a>
    </div>
  </div>
</div>
