<div class="home">
  <div class="home_images">
    <img src="../../assets/images/background.png" v-if="$i18n.locale == 'ar' && screenWidth > 705 " />
    <img src="../../assets/images/backgroundEn.png" v-if="$i18n.locale == 'en' && screenWidth > 705" />

    <img src="../../assets/images/back-res.png" v-if="screenWidth < 705"/>

    <div  :class="[$i18n.locale == 'en' ? 'home__content' : 'home__content__ar']">
      <p class="title">{{$t('LAUNCHING')}}</p>
      <p class="desc">{{$t('EXCITED')}}</p>

      <div class="contact_us">
        <p class="contact">{{$t('LEAVE')}}</p>

        <div class="input_data" :class="[success && !checkEmail ? 'section' : '']">
          <input type="text" :placeholder="$t('EMAIL')" v-model="email"/>
          <button @click="notifyMe">{{$t('NOTIFY')}}</button>  
        </div>
      </div>
      <p style="color: green; text-align: center;" v-if="success && !checkEmail">{{ $t('SUCESS.success') }}</p>
      <p style="color: red; text-align: center;" v-if=" checkEmail ">{{checkEmail}}</p>

      

    </div>

  </div>
</div>
